extends ../layout

block content
  h1 Book: #{book.title}
  block content_book
  
  h2 Loan History
  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
      tbody
        tr
          td 
            a(href="book_detail.html") A Brief History of Time
          td 
            a(href="patron_detail.html") Andrew Chalkley
          td 2015-12-12
          td 2015-12-19
          td 
          td 
            a(href="return_book.html" class="button") Return Book
